In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# Загрузите датасет transaction_data.csv. 
# Проверьте размер таблицы, типы переменных, число пропущенных значений и описательную статистику.

In [4]:
transaction_data = pd.read_csv('C:/Users/Александр/Projects/projects/Transaction_statistics/transaction_data.csv')

In [5]:
transaction_data.shape
#Размер таблицы

(5315, 3)

In [6]:
transaction_data.dtypes
# типы переменных

date           object
name           object
transaction    object
dtype: object

In [7]:
transaction_data.describe()
# описательную статистику

                       date           name  transaction
count                  5315           5315         5315
unique                 3373             56            3
top     2020-03-02 00:33:10  Masha_Ozerova  successfull
freq                      6            112         3692

In [8]:
transaction_data.isna().sum()
# число пропущенных значений

date           0
name           0
transaction    0
dtype: int64

In [9]:
# Проверьте, какие значения принимает колонка transaction.
# Сколько наблюдений относятся к тому или иному уровню? 
# Визуализируйте результат с помощью барплота.
# Расположите уровни переменной в порядке убывания числа относящихся наблюдений (от большего к меньшему)

In [10]:
transaction_type = transaction_data.groupby('transaction', as_index=False) \
                                   .agg({'name' : 'count'}) \
                                   .sort_values('name', ascending=False) \
                                   .rename(columns={'name' : 'count_of_type'})

In [11]:
transaction_type

   transaction  count_of_type
2  successfull           3692
0    cancelled           1619
1        error              4