# Домашнее задание седьмого урока.

**Задание 1 ⭐️**
**Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.**

Воспользуйтесь этим кодом, чтобы перевести данные из реквеста в пандас:

from io import BytesIO

import requests


req = requests.get(your_link)

data = req.content

df = pd.read_csv(BytesIO(data))

In [11]:
from io import BytesIO
import requests
import pandas as pd
import numpy as np

link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(link)
data = req.content

df = pd.read_csv(BytesIO(data))
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [12]:
df['percent'] = (df.users / df.users.sum() * 100).round(0)
df

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

**2. Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.**

Может понадобиться:

* str.contains()

In [18]:
df_2 = pd.read_csv('C:/Users/Александр/pj/karpov_courses/Python/Homeworks/Datasets/7_browser.csv')
df_2.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [19]:
chrome_robots = pd.Series(np.where((df_2.browser.str.contains('Chrome')) & (df_2.user_type == 'Robots'), 1, 0))
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int32

**3. ⭐️Задание со звёздочкой!⭐️**

**У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count**

* ad_id – id объявления
* user_id – id пользователя
* click_type – тип клика (клик по заголовку объявления, клик по центру)

In [21]:
df_3 = pd.read_csv('C:/Users/Александр/pj/karpov_courses/Python/Homeworks/Datasets/sample_ads.csv')
df_3.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [23]:
not_nan_count = df_3.click_type.notna().sum()
not_nan_count

11

**4. ⭐️Задание со звёздочкой!⭐️**

**В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:**

* при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
* если это получилось – добавьте преобразованное значение  в список new_list

In [24]:
lst = [1, 'lol', '88005553535', '42.0', 295, -0.5, 0, None]

In [25]:
new_list = []
for item in lst:
    try:
        int_item = int(item)
        new_list.append(int_item)
    except:
        pass
new_list

[1, 88005553535, 295, 0, 0]

**5. ⭐️Задание со звёздочкой! ⭐️**

**А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.**

In [61]:
token = '...'

In [62]:
api_pattern = f'https://api.telegram.org/bot{token}'

In [63]:
update = f'{api_pattern}/getUpdates'

In [64]:
info = requests.get(update)

In [65]:
info.status_code

200

In [74]:
info.json()

{'ok': True, 'result': []}

In [69]:
chat_id = 377587540

In [70]:
send_message = f'{api_pattern}/sendMessage'

In [71]:
params = {'chat_id' : chat_id, 'text' : 'Привет'}

In [72]:
response = requests.get(send_message, params=params)

In [73]:
response.text

'{"ok":true,"result":{"message_id":5,"from":{"id":5409003743,"is_bot":true,"first_name":"Karpov.Courses.test","username":"api_kc_bot"},"chat":{"id":377587540,"first_name":"\\u0410\\u043b\\u0435\\u043a\\u0441\\u0430\\u043d\\u0434\\u0440","username":"alexander_rodikov","type":"private"},"date":1656620628,"text":"\\u041f\\u0440\\u0438\\u0432\\u0435\\u0442"}}'